repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff formatter
        entry: ruff format
        language: system
        types: [python]

      - id: ruff-check
        name: Ruff linter
        entry: ruff check --fix --unsafe-fixes
        language: system
        types: [python]
        pass_filenames: false
        args: [.]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-added-large-files
        args: ['--maxkb=4000']
